body {
    background-color: #222;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 200;
}

table {
    border-collapse: collapse;
}
ul {
    list-style: none;
    padding: 0;
}

th, td {
    border: solid 2px white;
}